.features {
   display: flex;
   flex-direction: column;
}

@media (min-width: 920px) {
   .features {
      flex-direction: row;
   }
}

.feature-icon {
   width: 100px;
   padding: 1rem;
   border: 10px solid #00bc77;
   border-radius: 50%;
}

.feature-item {
   flex: 1;
   padding: 2.5rem;
}

.feature-item-title {
   margin-bottom: 0.5rem;
   font-size: 1.25rem;
   font-weight: bold;
   color: #222;
}
