.edit-name-wrapper {
   width: 150px;
}

.edit-button {
   margin: 10px 0;
   padding: 7px 30px;
   font-weight: bold;
   border-color: #00bc77;
   color: #fff;
   background-color: #00bc77;
}

.usernames-form {
   display: flex;
   justify-content: center;
}

.usernames-form input {
   width: 100%;
   padding: 5px;
   font-size: 1.1rem;
}

.right {
   text-align: start;
}

.left {
   margin: 0 15px 0;
   text-align: end;
}
