.main {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
}

.bg-dark {
   background-color: #12002b;
}

.sign-in-content {
   box-sizing: border-box;
   width: 300px;
   margin: 0 auto;
   margin-top: 3rem;
   padding: 2rem;
   background-color: white;
}

.sign-in-icon {
   font-size: 5rem;
}
