html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); /* 1 */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%); /* 2 */
  overflow: hidden;
  white-space: nowrap; /* 3 */
}

.main-nav-item {
  margin-right: 0.5rem;
  text-decoration: none;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.icon {
  margin-right: 5px;
}

.main-nav-item {
  display: flex;
  align-items: center;
}

.main-nav-item .icon {
  font-size: 20px;
}

.main-nav-links {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.avatar-icon {
  font-size: 29px;
  color: #2c3e50;
}

.avatar-name {
  margin: 0 15px 0 10px;
  font-weight: bold;
  color: #2c3e50;
}

.hero {
  background-image: url("../../assets/images/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background: white;
}

.hero-content .subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
  .hero-content .subtitle {
    font-size: 1.5rem;
  }
  .hero-content .text {
    font-size: 1.2rem;
  }
}
.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}
.feature-icon {
  width: 100px;
  padding: 1rem;
  border: 10px solid #00bc77;
  border-radius: 50%;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #222;
}

.sign-in-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  color: #fff;
  background-color: #00bc77;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.email-error,
.password-error {
  display: none;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid black;
  background-color: #fff;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  flex: 1;
  width: 100%;
}

.transaction-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  color: #fff;
  background-color: #00bc77;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }
  .account-content-wrapper.cta {
    flex: 0;
  }
  .transaction-button {
    width: 200px;
  }
}
.edit-name-wrapper {
  width: 150px;
}

.edit-button {
  margin: 10px 0;
  padding: 7px 30px;
  font-weight: bold;
  border-color: #00bc77;
  color: #fff;
  background-color: #00bc77;
}

.usernames-form {
  display: flex;
  justify-content: center;
}

.usernames-form input {
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
}

.right {
  text-align: start;
}

.left {
  margin: 0 15px 0;
  text-align: end;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav .main-nav-logo,
.main-nav .main-nav-item {
  font-weight: bold;
  color: #2c3e50;
}
.main-nav .main-nav-logo .active,
.main-nav .main-nav-item .active {
  color: #42b983;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
  border-top: 2px solid #ccc;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.bg-dark {
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  background-color: white;
}

.sign-in-icon {
  font-size: 5rem;
}

.header {
  margin-bottom: 2rem;
  color: #fff;
}

.notFound {
  position: relative;
}

.notFound-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.notFound-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-code {
  font-size: 100px;
  font-weight: 500;
  color: #00bc77;
}

.error-message {
  margin: 50px;
  text-align: center;
}

.back-link {
  color: #2c3e50;
}
/*# sourceMappingURL=main.css.map */