html {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
}

.main {
   flex: 1;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(1px, 1px, 1px, 1px); /* 1 */
   -webkit-clip-path: inset(50%);
   clip-path: inset(50%); /* 2 */
   overflow: hidden;
   white-space: nowrap; /* 3 */
}
